- provide(:title, "Главная")
%h1 My Draft
%p= link_to "My Draft", :controller => :static_pages, :action => :home

.last-articles
  .header-item
    %p Последние опубликованные статьи:
  - if @presenter.last_articles.present?
    - @presenter.last_articles.each do |article|
      .post
        .postmetadata
          %span.date
            %span.month= article.created_at.strftime("%b")
            %span.day= article.created_at.strftime("%d")
            %span.year= article.created_at.year
          %span.author
            by
            = article.user.username
        .content
          %h3.title= link_to article.title.capitalize, article
          .article-category
            Опубликованно в
            %br
            = link_to article.category.name, '#'
  - else
    No articles are present

  = link_to "Перейти к Блогу ->", articles_path, class: "index-link"
  %br 
  %br 

.blog-left-items
  .header-item
    %p Cтатьи опубликованые сегодня:
  .item-content
    - if @presenter.tooday_articles.present?
      - @presenter.tooday_articles.each do |article|
        = article.title
    - else
      No articles are present tooday
  %br
  %br
  .header-item
    %p Последние комментарии:
  .item-content
    - if @presenter.last_comments.present?
      - @presenter.last_comments.each do |comment|
        Оставил: 
        = comment.user.username
        в статье
        = link_to comment.article.title, comment.article
        %br
    - else
      No comments are present

.blog-right-items
  .header-item-right
    %p Популярное:
  .item-content
    - if @presenter.top_articles_from_month.present?
      - @presenter.tooday_articles.each do |article|
        = article.title
    - else
      No articles are present in this tab

.clearfix