= form_for @book, html:{id:'loginForm'} do |f|
	- if @book.errors.any?
		= render 'common/errors', object:@book
	.field
		= f.label :title, "Название книги"
		= f.text_field :title, placeholder:"Название книги"
		%br
	.field
		= f.label :author, "Автор(ы) книги"
		= f.text_field :author, placeholder:"Автор книги"
		%br
	.field
		= f.label :description, "Описание книги"
		= f.text_area :description, placeholder:"Описание книги"
		%br
	.field
		= f.label :year, "Год издания"
		= f.text_field :year, placeholder:"Год публикации издания"
		%br
	.field
		= f.label :publisher, "Издательство"
		= f.text_field :publisher, placeholder:"Издательство"
		%br
	.field
		= f.label :language, "Язык на котором написанна книга"
		= f.select :language, [['English', 'En'],['Русский', 'Ru']]
		%br
	.field
		= f.label :number_of_pages, "Количество страниц"
		= f.text_field :number_of_pages, placeholder:"Кол-во страниц", type: 'number'
		%br
	.field
		= f.label :ISBN10, "ISBN-10"
		= f.text_field :ISBN10, placeholder:"ISBN-10 книги"
		%br
	.field
		= f.label :ISBN13, "ISBN-13"
		= f.text_field :ISBN13, placeholder:"ISBN-13 книги"
		%br
	.field
		= f.label :link_to_book, "Ссылка на подробное описание"
		= f.text_field :link_to_book, placeholder:"URL книги"
		%br
	.field
		= f.label :category_of_book, "Категория к которой относится данная книга"
		- @categories.each do |category|
			- if @book.book_category_ids.include? category.id
				= check_box_tag "book[book_category_ids][]", category.id, type: 'checked'
			- else
				= check_box_tag "book[book_category_ids][]", category.id
			= category.name
		%br
	.field
		= f.label :book_img, "Изображение книги"
		= f.file_field :book_img
		= #f.hidden_field :book_img_cashe
		%br
	.submit
		= f.submit 'Сохранить'