-provide(:title, "Просмотр статей")
%h1 Содержание блога :
#articles
  .articles-links
    %ul
      %li Статьи :
      %li= link_to "Все | ", articles_path
      %li= link_to "За сутки | ", articles_path + '/option/tooday'
      %li= link_to "За неделю | ", articles_path + '/option/week' 
      %li= link_to "За месяц | ", articles_path + '/option/month'
      %li= link_to "Наиболее просматриваемые | ", articles_path + '/option/top_views'
  - if !@articles.empty?
    .paginate= paginate @articles
    = render @articles
    .paginate= paginate @articles
    %br
  - else
    .no-content
      К сожалению опубликованных статей пока нет!
    %br
#aside
  %ul 
    %h3 Список категорий :
  - @categories.each do |category|
    %li= link_to category.name, category
  %ul
    %h3 Список тегов :
  - @tags.each do |tag|
    %li= link_to tag.name, tag, class:"atag"
.clearfix