-provide(:title, "Просмотр статьи #{@article.title}")
%p#notice= notice

#article-show
  %span.title
    = @article.title
  .body
    .date
      .published
        Опубликованно :
        %span.day= @article.created_at.day
        %span.month= @article.created_at.strftime("%b")
        %span.year= @article.created_at.year
      .changed
        Последний раз смотрели :
        = time_ago_in_words @article.updated_at
    .t
      .category
        = link_to @article.category.name, category_path(@article.category), class:"category"
      %br
      %br
      .author
        Автор :
        = link_to @article.user.username, user_path(@article.user.id)
      .name
        %h1= @article.title
      .content
        = raw @article.content
      %br
      .tags
        - Tag.find(@article.tag_ids).each do |tag|
          = link_to tag.name, tag, class:"tags"
      .views
        Просмотров :
        %span.view= @article.views|| 0
      %br
      %br
      .clearfix
      -if can? :manage, Article
        = link_to 'Редактировать статью', edit_backend_article_path(@article)
        \|
        = link_to "Удалить статью", backend_article_path(@article), method: :delete, data:{ confirm: "Вы уверенны, что хотите удалить статью '#{@article.title}'?" }
        \|
        = link_to 'Назад', articles_path
      %br
      %br
      - if @article.comments.any?
        .comments
          %span.comments-count #{image_tag "img/comment.png"} Всего комментариев : #{@article.comments.count}
          = render 'comments'
      - else
        К этой статье пока никто не оставлял комментариев
      %br
      %br
      -if can? :create, Comment
        = render 'comments/comment_form'
      -else
        Вы не можете оставлять комментарии, #{link_to "Войдите", new_user_session_path} под своим именем или #{link_to "Зарегистрируйтесь", new_user_registration_path}
  %span.footer
    .item
      Опубликованно :
      = time_ago_in_words @article.created_at
    .item
      Просмотров :
      %span.view= @article.views
    .item
      Комментариев :
      %span.view= @article.comments.size
    .item
      Автор :
      = @article.user.username
.clearfix
