%tr
  %td= link_to article.title, backend_article_path(article)
  %td= article.category.name
  %td= article.views
  %td= article.published === true ? 'Да' : 'Нет'
  %td= article.user.username
  %td= format_article_date article.created_at
  %td= link_to "Редактирование", edit_backend_article_path(article)
  %td= link_to "Удалить", backend_article_path(article), method: :delete, data:{ confirm: "Вы уверенны, что хотите удалить статью '#{article.title}'?" }