= form_for [:backend, @article], html:{ class: 'backend-middle-form' } do |f|
  .form-wrapper
    - if @article.errors.any?
      = render "common/errors", object: @article
    .field
      = f.label :title, "Заголовок статьи :"
      = f.text_field :title, placeholder:"Введите сюда название статьи", class: "span9"
      %br
      %span.input-helper Этот заголовок будет выводиться как название статьи при просмотре
      %br
    .field
      = javascript_include_tag "/javascripts/ckeditor/config.js"
      = f.label :content, "Содержание статьи :"
      = f.text_area :content, class: "span9"
      %br
      %span.input-helper Заносите сюда всё, что касается содержания статьи: текст, изображения и т.д.
      %br
    .field
      = f.label :category_id,  "Выберите категорию :"
      = f.collection_select :category_id, @categories, :id, :name
      %br
      %span.input-helper Укажите категорию в которую будет помещенна статья
      %br
    .field
      = f.label :tag_ids,  "Выберите теги :"
      - @tags.each do |tag|
        - if @article.tag_ids.include? tag.id
          = check_box_tag "article[tag_ids][]", tag.id, type: 'checked'
        - else
          = check_box_tag "article[tag_ids][]", tag.id
        = tag.name
      %br
      %span.input-helper Отметьте теги к которым будет относиться данная статья
      %br
    - if can? :manage, Article
      .field
        = f.label :published, "Опубликовать ?"
        = f.check_box :published
        %span.input-helper Публикуйте статью, только если она правильно оформленна
        %br
    .actions
      = f.submit 'Сохранить', :class => "button-primary-light-green"