- provide(:title, "Редактирование тегов")
%tags
	%h1.headline1 Перечень доступных тегов
	.new_link= link_to "Создать новый тег", new_backend_tag_path
	%table.little-table
		%tr
			%th №
			%th Наименование тега
			%th Количество статей с тегом
			%th Просмотр
			%th Действие
		- @tags.each.with_index do |tag, index|
			%tr
				%td= index + 1
				%td= tag.name
				%td= tag.articles.count
				%td= link_to "Статьи с этим тегом", backend_tag_path(tag)
				%td= link_to "Удалить", tag, method: :delete, data:{confirm:"Тег '#{tag.name}' будет удалён!"}