<div id='sign_in'>
<% provide(:title, "Вход") %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => 'login_form') do |f| %>

  <h2>Вход в аккаунт</h2>

  <span>Войдите под своей учётной записью для доступа к функциям сайта.</span>
  <br>
  <br>

  <div><%= f.label :username, "Имя пользователя :" %>
  <%= f.text_field :username, :value => "Ваше имя :", :onfocus => "this.value = ''" %></div>
  <br>

  <div><%= f.label :password, "Пароль :" %>
  <%= f.password_field :password, :value => "Ваш пароль", :onfocus => "this.value = ''" %></div>
  <br>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me,  "Остаться в системе" %></div>
  <% end -%>
  <br>

  <div><%= f.submit "Войти", class:"button-primary-light-green" %></div>

  <br>
  <%= render "devise/shared/links" %>

<% end %>
</div>