-provide(:title, "Редактирование профиля #{@user.username}")
.show-user
	%h2 Редактирование пользователя '#{@user.username}'
	.user-info
		= render 'form'
	.admin-panel
		%ul
			%li= link_to 'Показать', admin_user_path(@user)
			%li= link_to "Удалить", admin_user_path(@user), :method => :delete, :data => { :confirm => "Вы уверенны, что хотите удалить пользователя '#{@user.username}'" }
			%li= link_to "К списку Пользователей", admin_users_path
			%li= link_to 'Назад', :back
.clearfix
