%footer.footer
    %small 
        = link_to 'My Draft', root_path
        by Alexandr Nekrasov | 
        = link_to 'My GitHub >', 'https://github.com/ale88andr/my_draft'
    %nav
        %ul
            %li 
                %a= link_to "About", "http://news.railstutorial.org/"
            %li
                %a= link_to "Contect", "http://news.railstutorial.org/"
            %li
                %a= link_to "Find", "http://news.railstutorial.org/"